html {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.span {
    border-style: solid;
    position: fixed;
    padding: 8px;
}

.div0 {
    border-style: solid;
    height: 400px;
    width: 350px;
    display: inline-block;
}

.div1 {
    border-style: solid;
    height: 400px;
    width: 350px;
    display: inline-block;
}

h1 {
    text-align: left;
    color: black;
}